* {
    margin: 0;
    padding: 0;
    display: block;
}

.page-wrapper {
    margin: auto;
    max-width: 80vw;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 1rem;
    gap: 1rem;
}

.game-controls-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-button {
    background-color: burlywood;
    border-radius: 3px;
    padding: 5px;
}

.menu-button:active {
    background-color: chocolate;
    border-radius: 3px;
    padding: 5px;
}

.game-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5rem;
    background-color: blanchedalmond;
    padding: .5rem;
}

.game-button {
    min-width: 100px;
    min-height: 100px;
}

.game-button-selected {
    min-width: 100px;
    min-height: 100px;
    background-color: goldenrod;
}
