<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Schiwfty 24</title>
    <link rel="stylesheet" href="css/game.css" type="text/css">
    <script src="../bootstrapper.js" type="module"></script>
</head>
<body>
    <div class="page-wrapper">
        <h1> Get Schiwfty </h1>
        <div class="game-controls-input">
            <label for="boardsize-input">Board size:</label>
            <input type="number" id="boardsize-input" name="boardsize" min="2" max="7" value="3">
            <button class="menu-button" id="startgame-button"> Start Game </button>
        </div>
        <div class="game-field"> </div>
        <label id="victory-label" class="victory-label"> Victory! </label>
    </div>
</body>
</html>
